h1
{
    text-transform: none;
    font-family: sans-serif;
}

.btn
{
    font-size: 1.5em !important;
    border-radius: 7px !important;
}

#make-reinforcement-learning-easier,
#fast-and-flexible,
#ecosystem-and-community
  {
      text-align: center;
  }
